:root{
    /* Color styles */
--dark-gray: #2C3E50;
--aqua: #1ABC9C;
--white: #FFFFFF;
--light-gray: #3A546D;
--black: #333333;

}

body {
    color:var(--white);
}

nav {
    position:fixed;
    width: 100%;
    top:0;
    left:0;
    background-color: var(--dark-gray);
}

header, .bottom-footer {
    background-color: var(--dark-gray);
}

#hero, #about-us {
    background-color: var(--aqua);
}

#portfolio, #contact {
    background-color: var(--white);
}

.top-footer {
    background-color: var(--light-gray);
}