:root {
    /* Color styles */
    --dark-gray: #2C3E50;
    --aqua: #1ABC9C;
    --white: #FFFFFF;
    --light-gray: #3A546D;
    --black: #333333;
}

body {
    color: var(--white);
}

/* FIXED NAV */
nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--dark-gray);
}

header,
.bottom-footer {
    background-color: var(--dark-gray);
}

/* MARGIN BECAUSE OF THE FIXED NAV */
main {
    margin-top: 70px;
}

#hero,
#about-us {
    background-color: var(--aqua);
}

#portfolio,
#contact {
    background-color: var(--white);
}

.top-footer {
    background-color: var(--light-gray);
}

/* FIX SIZE OF THE HERO IMAGE */
.heroimage {
    width: 500px;
}

/* LINE FOR THE DIVISOR WITH THE STAR */
.line {
    width: 10%;
    height: 4px;
}

/* FOR THE SOCIAL CIRCLE IN THE TOP FOOTER */
.rc-social {
    width: 50px;
    height: 50px;
    border: 1px solid;
    margin-left: 5px;
}